body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(98deg, #a143e0, #2a5298);
  color: white;
}

header > .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 12px 30px;
  border-radius: 15px;
  background: rgba(0, 0, 50, 0.5);
}

.navbar > ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: white;
}

.hero {
  text-align: center;
  margin: 40px 0 20px;
}

.hero > h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.quotes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

.quotes-container > .card {
  background: #f1f3f6;
  color: #333;
  width: 260px;
  padding: 20px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.card > p {
  font-size: 14px;
  margin-bottom: 20px;
  position: relative;
}

.card > p::before {
  content: "❝ ";
  color: #aaa;
}

.card > span {
  background: #d9dde5;
  padding: 8px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
}

footer {
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(0, 0, 50, 0.5);
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links > a {
  color: white;
  text-decoration: none;
}
