.customer-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  font-size: 20px;
  margin: 20px;
  background-color: beige;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
}

input {
  font-size: 20px;
  margin: 20px;
  background-color: beige;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}
